# Copiá como .env con tus valores reales de Supabase
# NUNCA subas el .env real al repo

VITE_SUPABASE_URL=https://kkzxbiivadxdjpefsgpa.supabase.co
VITE_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XN7u6ycGpmB0uMeFMi252A_9ojPu6xz
